/*====================section 1 starts here=================================*/


.columnContainer{
    display: flex;
    flex-direction: row;/*it is the default value*/
    
}
#box-1{
flex: 1;
margin-right: 10px;
margin-left: 2px;
}

#box-2{
flex: 1;
/*i have placed these below two property in order to place the image at the center of box2.*/
display: flex;
justify-content: center;
}

#section1{
    font-size: 1.25rem;
    font-weight: 300;
    background-color: yellowgreen;
}

/*=====================================================*/
/*====================section 2 starts here=================================*/

#section2{
    background-color:wheat;
    width: 100%;
}
#section2ColumnContainer{
    display: flex;
    background-color: gray;
   
}
.imageDiv{
    display: flex;
    justify-content: center;
}
.afterImage h4{
text-align: center;
}
#box-3{
    flex: 1;
    margin-right: 2px;
}
#box-4{
    flex: 1;
    margin-right: 4px;
}
#box-5{
    flex: 1;
    word-wrap: normal;
   
}
#section2ColumnContainer img{
    width: 256px;
    height: 256px;
}
/*Footer section starts here*/
footer{
    
    height: 50%;
}

/*
.addressContainer{
  
    background: #556b2f;
    
    
    
}
*/

#addressContainerMain{
    /*just removing bcoz facing some issue with making it responsive
    height: 80%;
    width: 90%;
    */
    background:white;
    /*not required
    position: relative;
    top:15px;
    left: 30px;
    */
    display: flex;
   
}
#blogroll ul{
    /*why not working*/
    list-style: none;
    padding-left: 0%;
}
#blogroll{
    margin-left: 20px;
    margin-right: 20px;
}
.two-third-col{
    
    width: 66%;
    background: rgb(86, 86, 126);
    flex:1;
    display: flex;
  
    
}
.one-third-col{
   
    width: 33%;
    flex:1;
    background: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#onethirdcolrow1{
flex: 1;
}
#onethirdcolrow2{
    flex: 1;
}
#onethirdcolrow3{
    flex: 1;
}
.one-third-col-row-container{
display: flex;
}
.onethirdcolrow1Image img{
   /*provided thhis height and width in order to make all images of same size.otherwise it will of diff
   size and take diff space*/ 
    width: 80px;
    height: 80px;
}

/*
.copyrightsContainer{
    display: flex;
    align-items: center;
    border-top: 3px;
    background: darkgrey;
    height: 20%;
    align-items: center;
}
#copyright{
    flex:1;
    padding-left: 50px;
}
#socialMedialinks{
    flex:1;
    padding-right: 50px;
}*/
#footer{
    height: 40%;
}
.copyrightsContainer{
    
    background: darkgrey;
    height: 20%;
}
#footer-social{
padding-left: 35%;
padding-right: 35%;
}
#footer-social a{
    font-size: 30px;
    padding-right: 30px;
    margin-top: 20px;
    text-decoration: none;
}
#footer-copyright{
    padding-left: 25%;
padding-right: 25%;
padding-top: 1%;
}

@media(max-width: 630px) {
    .columnContainer{
         flex-direction: column;
    }
}
@media(max-width: 630px) {
    #section2ColumnContainer{
         flex-direction: column;
    }
}
@media(max-width: 630px) {
    #addressContainerMain{
         flex-direction: column;
    }
}
@media(max-width: 630px) {
    .two-third-col{
         flex-direction: column;
          /*in order to fit this col with the window size itself.without it text is coming properly within 
          this column.but col itself is not fitting to the whole device size */
          width: 100%;
    }
}
@media(max-width: 630px) {
    .one-third-col{
         flex-direction: column;
         /*in order to fit the text within the each row*/
         width: 100%;
    }
}
@media(max-width: 630px) {
           body{
           max-width: 100%;
       }

}




   
    



